QTextEdit#connectView, #massCmdView {
	background-color : black;
	color : white;
}

QTextEdit#scanView {
	border : none;
}

QStatusBar::item {
	border : none;
}

QTabWidget::pane {
	border : 1px solid #0088FF;
	background-color : white;
}

QTabBar::tab {
	padding-right : 5px;
	padding-left : 5px;
	border : none;
}

QTabBar::tab:selected {
	border-bottom : 3px solid #0088FF;
}
